.alert.alert-success {
	margin-top: 15px;
	margin-top: 15px;
}

.alert-success {
	margin-top: 15px;
	margin-top: 15px;
}

.form-control {
    width:auto;
    display:inline-block;
}

h1 {
	color: #ffffff;
}

p {
    color: #ffffff;
}

body {
    background-color: #000000;
}